{% load group_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Computer Service{% endblock %}</title>
  <!-- сюда можно подключить CSS, например Bootstrap -->
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Главная</a> |
            <a href="{% url 'about' %}">О компании</a> |
            <a href="{% url 'news_list' %}">Новости</a> |
            <a href="{% url 'faq_list' %}">Словарь</a> |
            <a href="{% url 'contacts' %}">Контакты</a> |
            <a href="{% url 'vacancy_list' %}">Вакансии</a> |
            <a href="{% url 'privacy_policy' %}">Политика</a>
        </nav>
        <nav>
          <li>Справочники:
            <ul>
              <li><a href="{% url 'service_type_list' %}">Типы услуг</a></li>
              <li><a href="{% url 'service_list' %}">Услуги</a></li>
              <li><a href="{% url 'device_type_list' %}">Типы устройств</a></li>
              <li><a href="{% url 'device_list' %}">Устройства</a></li>
              <li><a href="{% url 'spareparttype_list' %}">Типы запчастей</a></li>
              <li><a href="{% url 'sparepart_list' %}">Запчасти</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}
          
            {% if user|has_group:"Clients" %}
                <li><a href="{% url 'order_create' %}">Создать заказ</a></li>
                <li><a href="{% url 'order_list_client' %}">Мои заказы</a></li>
            {% endif %}

            {% if user|has_group:"Employees" %}
                <li><a href="{% url 'order_list_employee' %}">Заказы (мастер)</a></li>
            {% endif %}

            Привет, {{ user.username }}!
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit">
                  Выйти
              </button>
            </form>
            {% else %}
              <a href="{% url 'login' %}">Вход</a> |
              <a href="{% url 'signup_client' %}">Регистрация клиента</a>
          {% endif %}
        </nav>
    </header>

    <main>
      {% block content %}
      <!-- здесь будет основное содержимое страниц -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; {{ now|date:"Y" }} Computer Service</p>
    </footer>
</body>
</html>
