{% load static %}
{% load group_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Maksimenkov Vladislav">
  <meta name="description" content="Сайт для заказа услуг по ремонту компьютерной техники и компьютерных запчастей">


  <title>{% block title %}Computer Service{% endblock %}</title>
  <link rel="icon" href="{{ '/media/index/logo.jpg' }}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="{% static 'js/base.js' %}"></script>

  <!-- This block is for .css files in other .html pages -->
  {% block extra_css %} {% endblock %}
  
</head>
<body>
    <header>
        <nav class="main_navigation">
            <a href="{% url 'home' %}">Главная</a> |
            <a href="{% url 'about' %}">О компании</a> |
            <a href="{% url 'news_list' %}">Новости</a> |
            <a href="{% url 'faq_list' %}">Словарь</a> |
            <a href="{% url 'contacts' %}">Контакты</a> |
            <a href="{% url 'vacancy_list' %}">Вакансии</a> |
            <a href="{% url 'privacy_policy' %}">Политика</a> |
            <a href="{% url 'statistic' %}">Статистика</a> |
            <a href="{% url 'calendar' %}">Календарь</a> |
            <a href="{% url 'review_list' %}">Отзывы</a> |
            <a href="{% url 'coupon_list' %}">Промокоды и купоны</a> |

            {% if user.is_authenticated and user.is_staff %}
            | <a href="{% url 'contacts_admin' %}">Управление сотрудниками</a>
            | <a href="{% url 'tsnt' %}">ТСНТ</a>
            | <a href="{% url 'api' %}">API</a>
            {% endif %}
        </nav>
        <nav>
          <li>Справочники:
            <li><a href="{% url 'types_services_spareparts_devices' %}">Типы услуг и запчастей</a></li>
          </li>

          {% if user.is_authenticated %}

            <li><a href="{% url 'special' %}">Специально для вас</a></li>
          
            {% if user|has_group:"Clients" %}
                <li><a href="{% url 'order_create' %}">Создать заказ</a></li>
                <li><a href="{% url 'order_list_client' %}">Мои заказы</a></li>
                <li><a href="{% url 'cart_view' %}">🛒 Корзина</a></li> 
            {% endif %}

            {% if user|has_group:"Employees" %}
                <li><a href="{% url 'order_list_employee' %}">Заказы (мастер)</a></li>
                <a href="{% url 'company_statistic' %}">Статистика (Мастер)</a> |
            {% endif %}

            Привет, {{ user.username }}!
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit">
                  Выйти
              </button>
            </form>
          {% else %}
              <a href="{% url 'login' %}">Вход</a> |
              <a href="{% url 'signup_client' %}">Регистрация клиента</a>
          {% endif %}
        </nav>
    </header>

    <!-- Переключатель темы -->
    <div class="theme-switcher">
        <input type="checkbox" id="theme-toggle" class="theme-checkbox">
        <label for="theme-toggle" class="theme-label">
            <span class="theme-text">Тёмная тема</span>
            <div class="theme-slider"></div>
        </label>
    </div>
    
    <main>
      {% block content %}
      <!-- here is main content for a pages -->
      {% endblock %}
    </main>

    <footer>
      <p>&copy; Computer Service</p>
    </footer>

    <!-- This block is for .js files in other .html pages -->
    {% block extra_js %} {% endblock %}
</body>
</html>
