{% extends 'comps/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/graphik.css' %}">
{% endblock %}

{% block content %}
  <h1>arcsin(x): ряд (n=10) и Math.asin(x)</h1>
  <canvas id="chart" width="1600" height="800" style="display:block; margin:0 auto;"></canvas>

  
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2"></script>
  <script src="{% static 'js/graphik.js' %}"></script>
{% endblock %}
