# Исключить папки __pycache__
__pycache__/

# Исключить скомпилированные Python-файлы
*.pyc
*.pyo
*.pyd

# Дополнительные правила для Python-проектов (рекомендуется добавить)
# Виртуальные окружения
venv/
.env/
.venv/

# Файлы настроек и секреты
.env
.secret

# Локальные файлы IDE
.idea/
.vscode/

# Временные файлы
*.tmp
*.bak